footer
  .container.text-center
    p.pull-left © 2016 White Rabbit Apps
    //, Inc. All Rights Reserved
    ul.pull-right.list-inline
      li
        a(href='/api') API Examples
      li
        a(href='/status') Status
